@font-face {
   font-family: 'Apercu';
   src: url('../fonts/apercu-regular-pro.eot');
   src: url('../fonts/apercu-regular-pro.eot?#iefix') format('eot'),
      url('../fonts/apercu-regular-pro.woff2') format('woff2'),
      url('../fonts/apercu-regular-pro.woff') format('woff'),
      url('../fonts/apercu-regular-pro.ttf') format('truetype');
}

body {
   font-family: 'Apercu', sans-serif;
   font-size: 11px;
   background-color: #0d0e0f;
   color: #fefefe;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#canvas {
   position: relative;
   width: 100%;
   height: 100%;
}

#preloader-text {
   position: absolute;
   left: 0;
   top: 50%;
   padding-left: 8px;
   margin-top: -28px;
   width: 100%;
   z-index: 1;
   opacity: 0;

   text-align: center;
   text-transform: uppercase;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;

   cursor: pointer;
   /* pointer-events: none; */
}

#preloader-text-title {
   text-shadow: 1px 1px 2px #c4b4b4;
   line-height: 24px;
   letter-spacing: 7px;
   font-size: 1.4em;
}

#preloader-text-title:hover {
   text-shadow: 1px 1px 2px white;
}

/*  */
#preloader-text-author {
   line-height: 24px;
   letter-spacing: 4px;
   color: #676767;
   opacity: 0;
}

#preloader-text-title span {
   display: inline-block;
   min-width: 8px;
   transform: translateZ(0);
   opacity: 0;
}

#preloader-text-enter {
   margin-top: 14px;
   display: inline-block;
   min-width: 8px;
   letter-spacing: 10px;
   padding: 5px 12px 5px 20px;
   border: 1px solid #232323;
   transform: translateZ(0);
   opacity: 0;
}
